.books{
    text-align: center;
    font-size: 30px;
    color: #fe4c50;
}
.bg-login-image,.bg-register-image,.bg-password-image {
    
background: url("../images/books/bg.jpeg");

}
#nav-profile{
    width:728px;
    margin-left: 16%;
}
.book{
    width:150px;
    height:150px
}
td{
    text-align: center;
}